// Custom CSS

.center-cropped-sm {
    object-fit: scale-down;
    object-position: center; /* Center the image within the element */
    height: 100px;
    width: 100px;
}

.center-cropped-md {
    object-fit: scale-down;
    object-position: center; /* Center the image within the element */
    height: 200px;
    width: 200px;
}

.center-cropped-lg {
    object-fit: scale-down;
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 300px;
}

.center-cropped-xl {
    object-fit: scale-down;
    object-position: center; /* Center the image within the element */
    height: 400px;
    width: 400px;
}

.center-cropped-xxl {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 500px;
    width: 500px;
}

// CUSTOM SIZES

@media only screen and (max-width: 2500px) {
    .binary-xsm {
        display: none !important;
    }

    .binary-header-xsm {
        padding: 0 !important;
        height: 5px !important;
    }
}

@media only screen and (max-width: 1300px) {
    .binary-sm {
        display: none !important;
    }

    .binary-header-sm {
        padding: 0 !important;
        height: 5px !important;
    }
}

@media only screen and (max-width: 770px) {
    .binary-lg {
        display: none !important;
    }

    .binary-header-lg {
        padding: 0 !important;
        height: 5px !important;
    }

    .level-xsm {
        display: none !important;
    }

    .alert-small-screen {
        display: inline-block !important;
    }
}

.binary-container {
    min-width: fit-content !important;
}

.binary-img {
    max-width: 150px;
    width:100%;
    cursor: pointer;
    cursor: hand;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

.alert-small-screen {
    display: none;
}
