// Global resets

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

// Set spacing on containers for page symmetry
.container,
.container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

// Bring in custom font for global use
